#signUpForm, #signInForm{
  background-color:gainsboro;
  padding-bottom:20px;
}

#signUpIntroduction{
  margin-top:20px;
}

#signUpIntroductionTitle{
  font-size:30px;
  color:#009344;
}

.signUpAdvantagesText{
  font-size: 15px;
  font-weight: bold;
}

#signUpFormContainer{
  margin-top:20px;
  border-left:1px solid #B3AEAE;
}

#facebookIcon{
  font-size: 25px;
  float: left;
  margin: 0 0 0 10px;
  border-right: 2px solid white;
  padding-right: 21px;
}

#facebookText{
  font-size: 18px;
  font-weight: bold;
  display:inline-block;
}

.or-box{
  position: relative;
  border-top: 1px solid #B3AEAE;
  margin-top:20px;
}

.or{
  color:#B3AEAE;
  background-color:gainsboro;
  position:relative;
  top:-8px;
  width:auto;
  padding:0px 10px 0px 10px;
  font-weight:bold;
  font-size:17px;
}

input{
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  background-color: #ecf2f4;
  border-radius:0px;
  border:1px solid #A5A3A3;
}

#txtPassword{
  border-right:0px;
}

#btnPasswordVisible, #btnPasswordInvisible{
  border-top:1px solid #A5A3A3;
  border-right:1px solid #A5A3A3;
  border-bottom:1px solid #A5A3A3;
}

#signUpEmailValidation{
  display:none;
  color:red;
}

#btnSignUpContinue{
  margin-top:10px;
  margin-bottom:10px;
  float:right;
  border-radius:0px;
  font-weight:bold;
}

.signUpUserInfo{
  display:none;
  margin-top:10px;
  width:100%;
  margin-left:5px;
}

#register-btn{
  border-radius:0px;
}

#btnPasswordVisible, #btnPasswordInvisible{
  padding-top:12px;
  border-radius:0px;
}

#btnPasswordInvisible{
  display:none;
}

#linkSignUp, #link-term-of-use, #link-policy, #link-signin, #linkLostPassword{
  color:red;
}

#signInTitleContainer{
  margin-top:10px;
  color:#333;
}

#signInTitle{
  margin-left:5px;
  font-size:35px;
  font-weight:bold;
}

#btnLogin{
  font-weight:bold;
}

@media(max-width:991px){
  #signUpFormContainer{
    border-left:0px;
  }
  #signUpIntroduction{
    height:auto;
  }
}

@media(max-width:395px){
  #facebooIcon{
    padding-right:12px;
    margin-left:5px;
  }
  #facebookText{
    font-size:15px;
  }
  #signUpIntroductionTitle{
    font-size:25px;
  }
}

@media(max-width:375px){
  #facebookIcon{
    margin-left:5px;
    padding-right:15px;
  }
}

@media(max-width:348px){
  #facebookIcon{
    margin-left:-2px;
    padding-right:5px;
  }
  #facebookText{
    font-size:13px;
    margin-top:5px;
  }
  #signUpIntroductionTitle{
    font-size:22px;
  }
  .signUpAdvantagesText{
    padding-left:20px;
  }
}